.container {
    margin: auto;
    margin-top: 5%;
    width: 290px;
}

.textBox {
    width: 290px;
    border: 0;
    font-size: 28px;
    color: #505050;
    margin: auto;
    padding: 0px;
}

.downloadButton {
    font-size:12px;
    padding-top:5px;
    color:#7f7fff;
    cursor:pointer;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e9e9e9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e9e9e9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e9e9e9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e9e9e9;
}
